@model ThongBao
@{
    Layout = "~/Views/Shared/CTSV_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/css/taothongbaoctsv.css">
<div class='content'>
    <form method="post" asp-action="TaoThongBao" asp-controller ="CTSV"  class="thongbao-form">
    
        <input type="text" id="maTB" name="maTB" hidden >

       
        <input type="text" id="maNguoiGui" name="maNguoiGui" hidden>

        <label for="maNguoiNhan">MaNguoiNhan:</label>
        <input type="text" id="maNguoiNhan" name="maNguoiNhan" asp-for="MaNguoiNhan" required>

        <label for="tieuDe">TieuDe:</label>
        <input type="text" id="tieuDe" name="tieuDe" asp-for="TieuDe" required>

        <label for="noiDung">NoiDung:</label>
       @*  <textarea id="noiDung" name="noiDung" rows="4" asp-for="NoiDung" required></textarea> *@
     @*    <div id="noiDung" name="noiDung" rows="4" asp-for="NoiDung" required></div> *@
        <div id="noiDungEditor" name="noiDungEditor" style="height: 200px;"></div>
<textarea id="noiDung" name="noiDung" asp-for="NoiDung" hidden></textarea>
        <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>

        <script>
            ClassicEditor
                .create(document.querySelector('#noiDungEditor'))
                .then(editor => {
                    editor.model.document.on('change:data', () => {
                        document.querySelector('#noiDung').value = editor.getData();
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
        <input type="datetime-local" id="ngayGui" name="ngayGui" hidden>

        <button type="submit"><i class="bi bi-send-check-fill"></i> Gửi thông báo</button>
    </form>
  
</div>
