
<head>
    <link rel="stylesheet" type="text/css" href="~/css/dangnhap.css">
</head>

<body>
    <form action="" method="post">
        <div class="logo-container">
            <img src="~/img/logo.jpg" alt="Logo">
        </div>
            </div>
            <input type="text" name="txtName" placeholder="Tên đăng nhập">
            <input type="password" name="txtPass" placeholder="Mật khẩu">
            <input type="submit" value="Đăng nhập">
    </form>
</body>