
@model DangNhap
<head>
    <link rel="stylesheet" type="text/css" href="~/css/dangnhap.css">

    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />

</head>
<body>
    <form method="post" asp-action="Index">
        @Html.AntiForgeryToken()


        <div class="logo-container">
            <img src="~/img/logo.jpg" alt="Logo">
        </div>


        <input asp-for="TenDangNhap" type="text" placeholder="Tên đăng nhập" required />

        <input asp-for="MatKhau" type="password" class="form-control" placeholder="Mật khẩu" required />
    
       
            <input type="submit" class="btn btn-primary"></input>
      <p>
            <font color="#737373">Powered and Designed by Nguyen Duong The Vi</font>
      </p>  
    </form>
</body>